.title	{
	text-align: center;
}

.board input.c {
    font-size: 15pt;
    text-align: center;
}

.board .button-group {
	padding-top: 16px;
}
.c {
    border: 1px #295967 solid;
    width: 1.6em;
    height: 1.6em;
}

.v {
    border-right: 0;
}

.h {
    border-bottom: 0;
}

